[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.text-error {
  color:red;
}

.text-warning {
  color:#FF6600;
}

.cursor-pointer {
  cursor: pointer;
}