<div>
	<div class="text-error" ng-show="getUserError">{{ getUserError }}</div>
	<div ng-show="!getUserError">
		<div>
			<div>Name: {{ user.name }}</div>
			<div>
				<img ng-src="{{ user.avatar_url }}" alt="{{ user.name }}" />
			</div>
		</div>
	</div>
	
	<div class="text-error" ng-show="getReposError">{{ getReposError }}</div>
	<div ng-show="!getReposError">
		<h4>Repos</h4>
		<div>Sort</div>
		<div>
			<select ng-model="userReposSortOrder">
				<option value="+name">Name</option>
				<option value="-stargazers_count">Stars</option>
			</select>
		</div>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Primary Language</th>
					<th>Stars</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="repo in userRepos | orderBy:userReposSortOrder"><!-- :reverse (bool on scope, can use instead of - sign) -->
					<td><a href="#/repo/{{ user.login }}/{{ repo.name }}">{{ repo.name }}</a></td>
					<td>{{ repo.language }}</td>
					<td>{{ repo.stargazers_count | number }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<br/><br/>
	<div>
		<a href="#/main">Back to Search</a>
	</div>
</div>
